src/*.o
Makefile
Makefile.in
depcomp
config.status
config.h
config.h.in
config.log
install-sh
stamp-h1
missing
aclocal.m4
bin/larch
bin/larcht
bin/logs
logs
src/.deps
src/.dirstamp
bin/.dirstamp
autom4te.cache
configure
